html, body {
  height: 100%;
  margin: 0;
  scroll-padding-top: 100px;
}
body{
 padding-top: 100px;
}

html {
 scroll-behavior: smooth;
 --top-spacing: 100px;
}

.size {

}
.footer {
  height: 50px;
  margin-top: -50px;
}

.tarea {
  min-height: 100%;
}
